absl-py==0.11.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
argh==0.26.2
argon2-cffi==20.1.0
ase==3.20.1
asn1crypto==1.4.0
astroid==2.4.2
astropy==4.0.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
babel==2.8.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
bitarray==1.6.1
bkcharts==0.2
bleach==3.2.1
bokeh==2.2.3
boto==2.49.0
bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.4
conda-build==3.20.5
conda-package-handling==1.7.2
conda-verify==3.4.2
conda==4.9.2
configparser==5.0.1
contextlib2==0.6.0.post1
cryptography==3.1.1
cycler==0.10.0
cython==0.29.21
cytoolz==0.11.0
dask==2.30.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distributed==2.30.1
docker-pycreds==0.4.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.4
flask==1.1.2
fsspec==0.8.3
future==0.18.2
gevent==20.9.0
gitdb==4.0.5
gitpython==3.1.12
glob2==0.7
gmpy2==2.0.8
google-auth-oauthlib==0.4.2
google-auth==1.24.0
googledrivedownloader==0.4
gputil==1.4.0
greenlet==0.4.17
grpcio==1.34.0
gym==0.18.0
h5py==2.10.0
heapdict==1.0.1
html5lib==1.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==2.0.0
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
ipywidgets==7.5.1
isodate==0.6.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jeepney==0.5.0
jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab==2.2.6
keepalive==0.5
keras==2.0.2
keyring==21.4.0
kiwisolver==1.3.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml==4.6.1
markdown==3.3.3
markupsafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.6.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
munkres==1.1.4
navigator-updater==0.2.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==6.1.4
numba==0.51.2
numexpr==2.7.1
numpy==1.19.2
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.5
ortools==8.0.8283
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.0
partd==1.1.0
path==15.0.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.2.4
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
plyfile==0.7.2
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydocstyle==5.1.1
pyflakes==2.2.0
pyglet==1.5.0
pygments==2.7.2
pylint==2.6.0
pyodbc==4.0.0-unsupported
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
python-louvain==0.15
pytz==2020.1
pywavelets==1.1.1
pyxdg==0.27
pyyaml==5.3.1
pyzmq==19.0.2
qdarkstyle==2.8.1
qtawesome==1.0.1
qtconsole==4.7.7
qtpy==1.9.0
rdflib==5.0.0
regex==2020.10.15
requests-oauthlib==1.3.0
requests==2.24.0
rope==0.18.0
rsa==4.6
rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
secretstorage==3.1.2
send2trash==1.5.0
sentry-sdk==0.19.5
setuptools==50.3.1.post20201107
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.13
six==1.15.0
smmap==3.0.5
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sparqlwrapper==1.8.5
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
spyder-kernels==1.9.4
spyder==4.1.5
sqlalchemy==1.3.20
statsmodels==0.12.0
subprocess32==3.5.4
sympy==1.6.2
tables==3.6.1
tblib==1.7.0
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
terminado==0.9.1
testpath==0.4.4
theano==1.0.5
threadpoolctl==2.1.0
tifffile==2020.10.1
toml==0.10.1
toolz==0.11.1
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchensemble==0.1.1
torchvision==0.8.1
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
typing-extensions==3.7.4.3
ujson==4.0.1
unicodecsv==0.14.1
urllib3==1.25.11
wandb==0.10.25
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.1
xlrd==1.2.0
xlsxwriter==1.3.7
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.30.0
zict==2.0.0
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.1.2